@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body,
html {
    background-color: theme(colors[background-primary]);
    color: theme(colors[white]);
    min-height: 100dvh;
}

.big-header {
    transform: translateY(40px);
    opacity: 0;
    animation: fade-in-up 1s ease-in-out forwards;
}

@keyframes fade-in-up {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.project-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
